# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Environment files
.env
.venv/
venv/
ENV/
env/

# MacOS
.DS_Store

# Test and coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/